<h2>Coming Soon! Customer Management</h2>

<p>A new feature will become available allowing you to manage your customers.  You can create new customers, edit, archive, search, and view the details.</p>
<p>Currently, the feature is available to our Beta Program.  Please see your management about joining the Beta Program and previewing this new feature.</p>